h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}
 
p{
  font: 0.6em sans-serif;
}
h2 {
  font-size: .9rem;
  font-weight: bold;
  color: #666;
}

h3 {
  font-size: 0.8rem;
  font-weight: bold;
  color: #999;
}

h4 {
  font-size: 0.8rem;
  font-weight: bold;
  color: #ccc;
}

h5 {
  font-size: .8rem;
  font-weight: bold;
  color: #ddd;
}

.dashboard-container {
    margin: 10px;
}

.dashboard-section {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgb(220,220,220)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
    color: #666;
  }
  .dropdown-toggle { outline: 0; }


.scrollarea {
  overflow-y: auto;
}
.mvh-75{
  min-height: 75vh;
}
.sidebar .nav-link:hover{
  background-color: #456975;
  color: rgb(235, 245, 231);
  width: fit-content;

}
.sidebar .nav-link.active {
  background-color: #68acc5;
  color: rgb(235, 245, 231);
  width: fit-content;
}

.sidebar a,.sidebar button{

  color: rgb(235, 245, 231);

}
.sidebar a :hover,.sidebar button :hover{

  color: rgb(47, 46, 46);
}
.landing{

  background-image: url("/static/img/landing.jpg") ;
  width: 100vw;
  height: 70vh;
  background-position: bottom, center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sidebar {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 56px);
}

.nav-link svg {
  margin-right: 0.5rem;
}

.nav-link.collapsed svg {
  transform: rotate(-90deg);
}

.nav-link.active {
  font-weight: bold;
}

.nav-link.active svg {
  transform: rotate(0);
}

.btn-toggle-nav {
  padding-left: 1.5rem;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
background-color: #e1dddd;

} 
.tab-content>.active {

  background-color: #e1dddd;
}