{% extends '/layouts/layout.html' %}

{% block content %}
 
        <h1>Welcome to the Dashboard</h1>
   
    
    <section>
        <h2>Total Cattle</h2>
        <p>Total number of cattle: {{ total_cattle }}</p>
    </section>
    
    <section>
        <h2>Upcoming Tasks</h2>
        <ul>
            {% for task in upcoming_tasks %}
            <li>{{ task.title }} - Due: {{ task.due_date }}</li>
            {% endfor %}
        </ul>
    </section>
    
    <section>
        <h2>Notifications</h2>
        <ul>
            {% for notification in notifications %}
            <li>{{ notification.message }}</li>
            {% endfor %}
        </ul>
    </section>
    
    {% endblock %}
