{% extends '/layouts/layout.html' %}
{% block content %}
<div class="card shadow">
  <div class="card-body">
    <h5 class="card-title">Add Cattle</h5>
    <form method="POST" action="{{ url_for('add_cattle') }}">
      <div class="form-group">
        <label for="birth_year">Birth Year:</label>
        <input type="number" class="form-control" id="birth_year" name="birth_year" required>
      </div>
      <div class="form-group">
        <label for="breed">Breed:</label>
        <input type="text" class="form-control" id="breed" name="breed" required>
      </div>
      <div class="form-group">
        <label for="sex">Sex:</label>
        <input type="text" class="form-control" id="sex" name="sex" required>
      </div>
      <button type="submit" class="btn btn-primary">Add Cattle</button>
    </form>
  </div>
</div>

{% endblock %}
