
{% extends '/layouts/base.html' %}

{% block content %}

<div class="container">

    <div class="row text-center">
        <h1>Welcome to the Cattle Manager App</h1>
    </div>

    <div class="container-fluid justify-content-center d-flex align-items-center">
        <div class="col-12 landing d-flex flex-column text-center text-light justify-content-center align-items-center "> 
            
          
                <!-- <button href="{{ url_for('login') }}">Login</button> -->
                <div class="col-lg-6 mx-auto d-flex flex-column align-items-center justify-content-center">
                    <p class="lead mb-4">Please click the button below to sign in.</p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                      <a type="button"  href="{{ url_for('login') }}" class="btn btn-primary btn-lg px-4 gap-3">Sign in</a>
                     
                    </div>
                  </div>

           


        </div>


    </div>


</div>




{% endblock %}
