{% extends 'layouts/layout.html' %}



{% block content %}
<div class="container-fluid my-4">
  <ul class="nav nav-tabs" id ="vaccstab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="flex-sm-fill text-sm-center nav-link active" id="late-winter-tab" data-bs-toggle="tab" aria-current="page" href="#late-winter" role="tab"
        aria-controls="late-winter" aria-selected="true">Aug-Sept</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="flex-sm-fill text-sm-center nav-link" id="autumn-winter-tab" data-bs-toggle="tab" href="#autumn-winter" role="tab"
        aria-controls="autumn-winter" aria-selected="false">April-June</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="flex-md-fill text-md-center nav-link" id="breeding-tab" data-bs-toggle="tab" href="#breeding" role="tab" aria-controls="breeding"
        aria-selected="false">4 weeks <br> Before breeding</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="flex-sm-fill text-sm-center nav-link" id="calving-tab" data-bs-toggle="tab" href="#calving" role="tab" aria-controls="calving"
        aria-selected="false">2-4 Weeks <br> Before calving</a>
    </li>
  </ul>

  <div class="tab-content mt-3">
    <div class="tab-pane fade show active" id="late-winter" role="tabpanel" aria-labelledby="late-winter-tab">
      <hr>
      <h2 class=" text-success fs-3 fw-4">Essential vaccines</h2>
      <hr>
      <div class="row py-1">
        <div class="col">
          <strong>Three-day stiff sickness</strong>
        </div>
        <div class="col">
          2 mℓ
        </div>
      </div>
      <div class="row py-1">
        <div class="col">
          <strong>Lumpy skin disease</strong>
        </div>
        <div class="col">
          2mℓ subcutaneously
        </div>
      </div>
      <div class="row py-1">
        <div class="col">
          <strong>Rift Valley fever (Inactivated vaccine)</strong>
        </div>
        <div class="col">
          2 mℓ subcutaneously
        </div>
      </div>
      <div class="row py-1">
        <div class="col">
          <strong>Clone 13</strong>
        </div>
        <div class="col">
          1 mℓ
        </div>
      </div>
      <div class="row py-1">
        <div class="col">
          <strong>Rift Valley (Live)</strong>
        </div>
        <div class="col">
          1 mℓ
        </div>
      </div>
       <hr> 
      <h2 class=" text-success fs-3 fw-4">Optional vaccines</h2>
      <hr>
      <div class="row py-1">
        <div class="col">
          <strong>C. pyogenes</strong>
        </div>
        <div class="col">
          10 mℓ subcutaneously (&lt;6 months)
        <br>
          5 mℓ subcutaneously (&gt;6 months)
        </div>
      </div>
      <div class="row py-1">
        <div class="col">
          <strong>Pasteurella</strong>
        </div>
        <div class="col">
          5 mℓ subcutaneously
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="autumn-winter" role="tabpanel" aria-labelledby="autumn-winter-tab">
      <hr>
      <h2 class=" text-success fs-3 fw-4">Essential vaccines</h2>
      <hr>
      <div class="row py-1">
        <div class="col">
          <strong>Blackquarter/Botulism OR Gasgangrene</strong>
        </div>
        <div class="col">
          5 mℓ subcutaneously
        </div>
      </div>
      <div class="row py-1">
        <div class="col">
          <strong>Anthrax</strong>
        </div>
        <div class="col">
          2 mℓ subcutaneously
        </div>
      </div>
      <div class="row py-1">
        <div class="col">
          <strong>Botulism (if combinations were not used)</strong>
        </div>
        <div class="col">
          2 mℓ subcutaneously
        </div>
      </div>
      <div class="row py-1">
        <div class="col">
          <strong>C. pyogenes</strong>
        </div>
        <div class="col">
          10 mℓ subcutaneously (&gt;6 months)
        </div>
      </div>
      <div class="row py-1">
        <div class="col">
          <strong>Pasteurella</strong>
        </div>
        <div class="col">
          5 mℓ subcutaneously
        </div>
      </div>
    </div>
  
    <div class="tab-pane fade" id="breeding" role="tabpanel" aria-labelledby="breeding-tab">
      <hr>
      <h2 class=" text-success fs-3 fw-4">Optional vaccines</h2>
      <hr>
      <div class="row py-1">
        <div class="col">
          <strong>Vibriosis</strong>
        </div>
        <div class="col">
          2 mℓ subcutaneously (heifers)
        </div>
        <div class="col">
          5 mℓ subcutaneously (bulls)
        </div>
      </div>
    </div>
  
    <div class="tab-pane fade" id="calving" role="tabpanel" aria-labelledby="calving-tab">
      <hr>
      <h2 class=" text-success fs-3 fw-4">Optional vaccines</h2>
      <hr>
      <div class="row py-1">
        <div class="col">
          <strong>Escherichia coli</strong>
        </div>
        <div class="col">
          2 mℓ subcutaneously
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}